@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  height: 100vh;
  width: 100vw;
  background: url(../public/sgdn-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-attachment: fixed;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
