@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: flex;
  justify-content: center;
  background: radial-gradient(var(--tertiary), white);
  box-sizing: border-box;
}

body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 920px;
  background: url(../public/sgdn-background.jpg);
  background-repeat: no-repeat;
  background-size: 920px auto;
  background-position: top center;
  background-color: white;
  box-sizing: border-box;
  overflow-x: hidden;
  box-shadow: 0px 0px 20px var(--secondary);
}

/* remove shadow on max-width */
@media screen and (max-width: 920px) {
  .body {
    box-shadow: none;
  }
}

:root {
  /* --background: #eab8e6; */
  --background: #e1f0f7;
  --text: black;
  --primary: white;
  --secondary: #b400a5;
  --tertiary: #a0ff00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e1f0f7;
    --text: black;
    --primary: white;
    --secondary: #b400a5;
    --tertiary: #a0ff00;
  }
}

.carousel-container {
  width: 100% !important;
}

@media screen and (max-width: 600px) {
  /* carousel-container */
  .carousel-container {
    /* width: 300px !important; */
    overflow: hidden !important;
  }
}

/* carousel-item */
.carousel-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 250px;
}

/* max-h-80 */
.max-h-80 {
  max-height: 20rem; /* Tailwind's max-h-80 class equivalent */
}

.active {
  color: var(--tertiary) !important;
}

@layer base {
  h1 {
    @apply text-white;
  }
  h2 {
    @apply text-black font-bold;
  }
  h3 {
    @apply text-black pt-2;
  }
  h6 {
    @apply pt-2;
  }
  a {
    @apply text-black underline;
  }
  a:hover {
    @apply text-[#a0ff00] underline;
  }
  a:active {
    @apply text-[#a0ff00];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
